<div class="container pt-5 pb-5">
    <h1 class="heading text-center">--- Wishlist ---</h1>
    <!-- <div class="row">
        <div class="col-md-3 col-6">
            <h1>Featured Artists</h1>
        </div>
        <div class="col-md-6 col-1">
            <hr class="custom-line">
        </div>
        <div class="col-md-3 col-5">
            <button type="button" class="btn cat-btn" style="float: right;">View More</button>
        </div>
    </div> -->
    <div class="row pt-3">
        <div class="col-md-4" *ngFor="let artist of artists | slice:1:4">
            <div class="card business-card shadow p-3 mb-5 bg-white rounded">
                <div class="card-data">
                    <img [src]="artist.Aprofilephoto" class="card-img-top" alt="Image Alt Text">
                    <h4>{{ artist.Aname }}</h4>
                    <p class="text-center" style="font-size: 20px;">{{ artist.Acategory }}</p>
                    <p class="text-center"><b>{{ artist.Alikes }} </b><mat-icon
                            style="font-size: 28px;">thumb_up</mat-icon></p>
                </div>
            </div>
        </div>
    </div>
</div>