<div class="container">
    <form class="form-table" [formGroup]="createEventForm">
        <h1 class="mt-2">Create an Event</h1>
        <hr />
        <table>
            <tr>
                <td style="width: 200px"><label for="eventName">Event Name:</label></td>
                <td colspan="2">
                    <input type="text" id="eventName" name="eventName" formControlName="eventName"
                        placeholder="Enter your event name" />
                    <div class="form-text text-danger fw-bold"
                        *ngIf="EventName.errors?.['required'] && (EventName.dirty || EventName.touched)">
                        Event Name is required.
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="eventlocation">Event Location:</label></td>
                <td colspan="2">
                    <input type="text" id="eventlocation" formControlName="eventlocation" name="eventlocation"
                        placeholder="Event Location" />
                    <div class="form-text text-danger fw-bold"
                        *ngIf="EventLocation.errors?.['required'] && (EventLocation.dirty || EventLocation.touched)">
                        Location is required.
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="googlemaplocation">Google Map Location:</label></td>
                <td colspan="2">
                    <input type="text" id="googlemaplocation" formControlName="googlemaplocation"
                        name="googlemaplocation" placeholder="Google map link" />
                    <div class="form-text text-danger fw-bold"
                        *ngIf="GoogleLocation.errors?.['required'] && (GoogleLocation.dirty || GoogleLocation.touched)">
                        Location is required.
                    </div>
                </td>
            </tr>

            <!-- date & time -->
            <tr>
                <td><label for="eventDate">Event Date:</label></td>
                <td>
                    <input type="date" class="date-input" id="eventDate" formControlName="eventDate" name="eventDate" />
                    <div class="form-text text-danger fw-bold"
                        *ngIf="EventDate.errors?.['required'] && (EventDate.dirty || EventDate.touched)">
                        Date is required.
                    </div>
                </td>
                <td><label for="eventTime">Event Time:</label></td>
                <td>
                    <input type="time" class="date-input" id="eventTime" formControlName="eventTime" name="eventTime" />
                    <div class="form-text text-danger fw-bold"
                        *ngIf="EventTime.errors?.['required'] && (EventTime.dirty || EventTime.touched)">
                        Time is required.
                    </div>
                </td>
            </tr>

            <!-- Artist check box -->
            <tr>
                <td><label>Required Artist:</label></td>
                <!-- column 1 -->
                <td colspan="2">
                    <input type="text" id="requiredArtist" name="requiredArtist" formControlName="requiredArtist"
                        placeholder="Singer, Guitarist, Drummer, Anchor, etc." />
                    <div class="form-text text-danger fw-bold"
                        *ngIf="RequiredArtist.errors?.['required'] && (RequiredArtist.dirty || RequiredArtist.touched)">
                        Required Artist is required.
                    </div>
                </td>
            </tr>

            <!-- Facility for artist -->
            <tr>
                <!-- column 1 -->
                <td><label for="o_facility">Facility For Artist:</label></td>
                <td colspan="2">
                    <input type="text" id="facilityForArtist" name="facilityForArtist"
                        formControlName="facilityForArtist"
                        placeholder="Travel Allowance,Music System, Meal, Stay, etc." />
                    <div *ngIf="FacilityForArtist.errors?.['required'] && (FacilityForArtist.dirty || FacilityForArtist.touched)"
                        class="form-text text-danger fw-bold">
                        Your Facilities is required.
                    </div>
                </td>
            </tr>

            <!-- Artist Should equip with -->
            <tr>
                <td><label>Artist Should equip with:</label></td>
                <!-- column 1 -->
                <td colspan="2">
                    <input type="text" id="artistEquip" name="artistEquip" formControlName="artistEquip"
                        placeholder="Sound System, Own Instruments, Music System, Stay, etc." />
                    <div *ngIf="ArtistEquip.errors?.['required'] && (ArtistEquip.dirty || ArtistEquip.touched)"
                        class="form-text text-danger fw-bold">
                        Your ArtistEquip is required.
                    </div>
                </td>
            </tr>

            <!-- upload profile photo and images -->
            <tr>
                <td><label for="imageUpload">Upload Event Poster:</label></td>
                <td>
                    <input type="file" class="form-control up_img" id="imageUpload" formControlName="imageUpload"
                        name="imageUpload" accept="image/*" (change)="onImageSelected($event)" />
                    <!-- <div class="form-text text-danger fw-bold"
                        *ngIf="EventPoster.errors?.['required'] && (EventPoster.dirty || EventPoster.touched)">
                        EventPoster is required.
                    </div>
                    <div class="form-text text-danger fw-bold"
                        *ngIf="EventPoster.errors?.['minlength'] && (EventPoster.dirty || EventPoster.touched)">
                        EventPoster only 1 is accepted.
                    </div> -->
                </td>
            </tr>
        </table>
        <div class="text-center">
            <button type="submit" class="btn btn_submit" (click)="postEventdata()">
                Create Event
            </button>
        </div>
    </form>
</div>