<!-- footer.component.html -->
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-brand">
        <img
          src="./assets/meeAalogo.png"
          alt="Logo"
          class="logo"
          [routerLink]="userType === 'artist' ? '/artistsHome' : '/'"
        />
        <p class="footer-quote">
          "Welcome to 'Meet My Artist' – Your Gateway to the World of Art and
          Creativity! Discover unique and talented artists from around the
          globe."
        </p>
      </div>
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <ng-container *ngIf="isUserLoggedIn; else initialMenu">
            <ng-container [ngSwitch]="userType">
              <ng-container *ngSwitchCase="'user'">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/artists">Artists</a></li>
                <li><a routerLink="/events">Events</a></li>
                <li><a routerLink="/products">Products</a></li>
                <li><a routerLink="/userSubscription">Subscription</a></li>
              </ng-container>
              <ng-container *ngIf="isUserLoggedIn; else initialMenu">
                <ng-container [ngSwitch]="userType">
                  <ng-container *ngSwitchCase="'user'">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/artists">Artists</a></li>
                    <li><a routerLink="/events">Events</a></li>
                    <li><a routerLink="/products">Products</a></li>
                    <li><a routerLink="/userSubscription">Subscription</a></li>
                  </ng-container>
                  <ng-container *ngSwitchCase="'artist'">
                    <li><a routerLink="/artistsHome">Home</a></li>
                    <li><a routerLink="/organizer">Organizers</a></li>
                    <li><a routerLink="/events">Events</a></li>
                    <li><a routerLink="/products">Products</a></li>
                    <li>
                      <a routerLink="/artistSubscription">Subscription</a>
                    </li>
                  </ng-container>
                  <ng-container *ngSwitchCase="'organizer'">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/artists">Artists</a></li>
                    <li><a routerLink="/events">Events</a></li>
                    <li><a routerLink="/products">Products</a></li>
                    <li>
                      <a routerLink="/organizerSubscription">Subscription</a>
                    </li>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #initialMenu>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/artists">Artists</a></li>
            <li><a routerLink="/events">Events</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/userSubscription">Subscription</a></li>
          </ng-template>
        </ul>
      </div>
      <div class="footer-contact">
        <h4>Contact Us</h4>
        <form (ngSubmit)="sendEmail()" class="contact-form">
          <input
            type="text"
            id="subject"
            name="subject"
            [(ngModel)]="emailData.subject"
            placeholder="Subject"
            required
          />
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="emailData.email"
            placeholder="Email"
            required
          />
          <textarea
            id="message"
            name="message"
            [(ngModel)]="emailData.message"
            placeholder="Message"
            required
          ></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>
        &copy; 2024
        <a [routerLink]="userType === 'artist' ? '/artistsHome' : '/'"
          >Meet My Artist</a
        >
        | Crafted by
        <a href="https://chordztechnologies.com/" target="_blank"
          >Chordz Technologies</a
        >
      </p>
    </div>
  </div>
</footer>

<button
  class="back-to-top"
  (click)="scrollToTop()"
  [ngClass]="{ show: showBackToTop }"
>
  <i class="fas fa-chevron-up"></i>
</button>
