<section class="footer">
    <footer class="text-center">
        <div class="container p-7">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h4>Meet My Artist</h4>
                    <p>
                        Welcome to "Meet My Artist" – Your Gateway to the World of Art and Creativity!
                        <br><br>
                        Are you passionate about discovering unique and talented artists? Look no further! "Meet My
                        Artist" is your go-to platform, designed to connect art enthusiasts with a diverse array of
                        skilled and emerging artists from around the globe.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h4>Quick Links</h4>
                    <div>
                        <!-- Initial set of menu items -->
                        <ng-template #initialMenu>
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a routerLink="" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact:true}">Home</a>
                                </li>
                                <li>
                                    <a routerLink="/artists" routerLinkActive="active">Artists</a>
                                </li>
                                <li>
                                    <a routerLink="/events" routerLinkActive="active">Events</a>
                                </li>
                                <li>
                                    <a routerLink="/products" routerLinkActive="active">Products</a>
                                </li>
                                <li>
                                    <a routerLink="/userSubscription" routerLinkActive="active">Subscription Plan</a>
                                </li>
                            </ul>
                        </ng-template>

                        <!-- Menu items after login -->
                        <ng-template #loggedInMenu>
                            <!-- Adjust these menu items based on the user's type -->
                            <ul class="list-unstyled mb-0" *ngIf="userType === 'user'">
                                <li>
                                    <a routerLink="" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact:true}">Home</a>
                                </li>
                                <li>
                                    <a routerLink="/artists" routerLinkActive="active">Artists</a>
                                </li>
                                <li>
                                    <a routerLink="/events" routerLinkActive="active">Events</a>
                                </li>
                                <li>
                                    <a routerLink="/products" routerLinkActive="active">Products</a>
                                </li>
                                <li>
                                    <a routerLink="/userSubscription" routerLinkActive="active">Subscription Plan</a>
                                </li>
                            </ul>

                            <ul class="list-unstyled mb-0" *ngIf="userType === 'artist'">
                                <li>
                                    <a routerLink="/artistsHome" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact:true}">Home</a>
                                </li>
                                <li>
                                    <a routerLink="/organizer" routerLinkActive="active">Organizers</a>
                                </li>
                                <li>
                                    <a routerLink="/events" routerLinkActive="active">Events</a>
                                </li>
                                <li>
                                    <a routerLink="/products" routerLinkActive="active">Products</a>
                                </li>
                                <li>
                                    <a routerLink="/artistSubscription" routerLinkActive="active">Subscription Plan</a>
                                </li>
                            </ul>

                            <ul class="list-unstyled mb-0" *ngIf="userType === 'organizer'">
                                <li>
                                    <a routerLink="" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact:true}">Home</a>
                                </li>
                                <li>
                                    <a routerLink="/artists" routerLinkActive="active">Artists</a>
                                </li>
                                <li>
                                    <a routerLink="/events" routerLinkActive="active">Events</a>
                                </li>
                                <li>
                                    <a routerLink="/products" routerLinkActive="active">Products</a>
                                </li>
                                <li>
                                    <a routerLink="/organizerSubscription" routerLinkActive="active">Subscription
                                        Plan</a>
                                </li>
                            </ul>
                        </ng-template>

                        <!-- Display the appropriate set of menu items based on login status -->
                        <ng-container *ngIf="isUserLoggedIn; else initialMenu">
                            <ng-container *ngTemplateOutlet="loggedInMenu"></ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h4 class="text-uppercase mb-0">Contact Us</h4>
                    <!-- <form (ngSubmit)="sendEmail()">
                        <label for="to">To:</label>
                        <input type="email" id="to" name="to" [(ngModel)]="emailData.to" required>
                        
                        <label for="subject">Subject:</label>
                        <input type="text" id="subject" name="subject" [(ngModel)]="emailData.subject" required>
                        
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" [(ngModel)]="emailData.message" required></textarea>
                        
                        <button type="submit">Send Email</button>
                      </form> -->
                    <form (ngSubmit)="sendEmail()">
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject"
                                [(ngModel)]="emailData.subject" placeholder="Your Subject" required>
                        </div><br>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email"
                                [(ngModel)]="emailData.email" placeholder="Your Email Id" required>
                        </div><br>
                        <div class="form-group">
                            <textarea type="text" class="form-control" id="message" name="message"
                                [(ngModel)]="emailData.message" placeholder="Your Message" required></textarea>
                        </div><br>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 All Rights Reserved By <a class="copyright"> Meet My Artist</a> | Distributed By <a class="copyright"
                href="https://chordztechnologies.com/" target="_blank">Chordz Technologies Pvt. Ltd.</a>
        </div>
    </footer>
</section>