<!-- <mat-toolbar class="desktop">
    <div class="center-content">
        <img src="./assets/Meet-my-artist.png" alt="Logo" class="logo"
            [routerLink]="userType === 'artist' ? '/artistsHome' : '/'" style="cursor: pointer;">
    </div>
    <ng-container *ngIf="isUserLoggedIn">

        <div class="icons">
            <ng-container *ngIf="userType === 'user'">
                
                <button mat-icon-button matTooltip="Manage Event" (click)="eventManageForm()">
                    <mat-icon>event</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Edit Profile" (click)="openUpdateForm()">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Logout" (click)="logout()">
                    <mat-icon>lock</mat-icon>
                </button>
            </ng-container>

            <ng-container *ngIf="userType === 'artist'">
                
                <button mat-icon-button matTooltip="Edit Profile" (click)="openUpdateForm()">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Logout" (click)="logout()">
                    <mat-icon>lock</mat-icon>
                </button>
            </ng-container>

            <ng-container *ngIf="userType === 'organizer'">
               
                <button mat-icon-button matTooltip="Manage Event" (click)="eventManageForm()">
                    <mat-icon>event</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Edit Profile" (click)="openUpdateForm()">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Logout" (click)="logout()">
                    <mat-icon>lock</mat-icon>
                </button>
            </ng-container>
        </div>
    </ng-container>
</mat-toolbar>

<mat-toolbar color="white" class="mobile">
    <div class="center-content">
        <img src="./assets/Meet-my-artist.png" alt="Logo" class="logo">
    </div>
</mat-toolbar> -->

<!-- <header class="header-top">
  <div class="container">
    <div class="logo-container">
      <img
        src="./assets/Meet-my-artist.png"
        alt="Logo"
        class="logo"
        [routerLink]="userType === 'artist' ? '/artistsHome' : '/'"
        style="cursor: pointer"
      />
    </div>
    <div class="actions-container" *ngIf="isUserLoggedIn">
      <ng-container [ngSwitch]="userType">
        <ng-container *ngSwitchCase="'user'">
          <button
            class="action-btn"
            matTooltip="Manage Event"
            (click)="eventManageForm()"
          >
            <mat-icon>event</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="'organizer'">
          <button
            class="action-btn"
            matTooltip="Manage Event"
            (click)="eventManageForm()"
          >
            <mat-icon>event</mat-icon>
          </button>
        </ng-container>
      </ng-container>
      <button
        class="action-btn"
        matTooltip="Edit Profile"
        (click)="openUpdateForm()"
      >
        <mat-icon>person</mat-icon>
      </button>
      <button class="action-btn" matTooltip="Logout" (click)="logout()">
        <mat-icon>lock</mat-icon>
      </button>
    </div>
  </div>
</header> -->
