<mat-toolbar class="desktop">
    <div class="center-content">
        <img src="./assets/Meet-my-artist.png" alt="Logo" class="logo">
    </div>
    <ng-container *ngIf="isUserLoggedIn">

        <div class="icons">
            <ng-container *ngIf="userType === 'user'">
                <!-- <button mat-icon-button routerLink="/notifications">
                    <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button routerLink="wishlist/:uid">
                    <mat-icon>favorite</mat-icon>
                </button> -->
                <button mat-icon-button matTooltip="Manage Event" (click)="eventManageForm()">
                    <mat-icon>event</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Edit Profile" (click)="openUpdateForm()">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Logout" (click)="logout()">
                    <mat-icon>lock</mat-icon>
                </button>
            </ng-container>

            <ng-container *ngIf="userType === 'artist'">
                <!-- Display artist specific icon -->
                <!-- <button mat-icon-button routerLink="/notifications">
                    <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button routerLink="/wishlist/7">
                    <mat-icon>favorite</mat-icon>
                </button> -->
                <button mat-icon-button matTooltip="Edit Profile" (click)="openUpdateForm()">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Logout" (click)="logout()">
                    <mat-icon>lock</mat-icon>
                </button>
            </ng-container>

            <ng-container *ngIf="userType === 'organizer'">
                <!-- Display artist specific icon -->
                <!-- <button mat-icon-button routerLink="/notifications">
                    <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button routerLink="wishlist/:uid">
                    <mat-icon>favorite</mat-icon>
                </button> -->
                <button mat-icon-button matTooltip="Manage Event" (click)="eventManageForm()">
                    <mat-icon>event</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Edit Profile" (click)="openUpdateForm()">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Logout" (click)="logout()">
                    <mat-icon>lock</mat-icon>
                </button>
            </ng-container>
        </div>
    </ng-container>
</mat-toolbar>

<mat-toolbar color="white" class="mobile">
    <div class="center-content">
        <img src="./assets/Meet-my-artist.png" alt="Logo" class="logo">
    </div>
</mat-toolbar>