<mat-toolbar color="white">
    <div class="icons">
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
    </div>
    <div class="center-content">
        <img src="./assets/logo.png" alt="Logo" class="logo">
    </div>
    <div class="navbar-nav ml-auto">
        <div ngbDropdown>
            <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>
                Register Here
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="menu">
                <button class="btn" ngbDropdownItem>Organizer</button>
                <button class="btn" ngbDropdownItem>Artist</button>
                <button class="btn" ngbDropdownItem>User</button>
            </div>
        </div>
    </div>
</mat-toolbar>