<ngb-carousel [showNavigationIndicators]="false" [pauseOnHover]="false" [pauseOnFocus]="false">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./assets/carousal/event1.jpg" alt="Random first slide" />
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./assets/carousal/event2.jpg" alt="Random second slide" />
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./assets/carousal/event3.jpg" alt="Random third slide" />
        </div>
    </ng-template>
</ngb-carousel>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-6">
            <h1>Our Top Categories</h1>
        </div>
        <div class="col-md-6 col-1">
            <hr class="custom-line">
        </div>
        <div class="col-md-3 col-5">
            <button type="button" class="btn cat-btn" style="float: right;" routerLink="/artists">View More</button>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat1.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Singer</h3>
        </div>
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat2.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Guitarist</h3>
        </div>
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat3.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Anchor</h3>
        </div>
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat4.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Actor</h3>
        </div>
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat5.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Musician</h3>
        </div>
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat6.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Sound System</h3><br>
        </div>
        <!-- </div> -->
        <!-- <div class="row pb-3"> -->
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat7.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Dancer</h3>
        </div>
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat8.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Emcee</h3>
        </div>
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat9.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Celebrity</h3>
        </div>
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat10.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Reel Star</h3>
        </div>
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat11.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Magician</h3>
        </div>
        <div class="col-md-2 col-4">
            <div class="circle">
                <img src="./assets/categories/cat12.png" alt="Image 1">
            </div>
            <h3 class="circle-heading">Karaoke</h3>
        </div>
    </div>
</div>

<app-looking-for-this></app-looking-for-this>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-6">
            <h1>Featured Artists</h1>
        </div>
        <div class="col-md-6 col-1">
            <hr class="custom-line">
        </div>
        <div class="col-md-3 col-5">
            <button type="button" class="btn cat-btn" style="float: right;" routerLink="/artists">View More</button>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-4" *ngFor="let artist of artists">
            <div class="card business-card shadow p-3 mb-5 bg-white rounded">
                <div class="card-data">
                    <img [src]="artist.Aprofilephoto" class="card-img-top" alt="Image Alt Text">
                    <h4>{{ artist.Uname }}</h4>
                    <p class="text-center" style="font-size: 20px;">{{ artist.Acategory }}</p>
                    <p class="text-center"><b>{{ artist.Alikes }} </b><mat-icon
                            style="font-size: 28px;">thumb_up</mat-icon></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="card mb-3">
        <div class="row no-gutters pb-5">
            <div class="col-md-6">
                <img src="./assets/reg-img1.png" class="card-img">
            </div>
            <div class="col-md-6">
                <div class="card-body" style="padding-left: 60px;">
                    <h3 class="card-title">Benefits For Organizer</h3><br>
                    <p class="card-text">Here are some benefits that organizers may find appealing when registering
                        on
                        our website</p><br>
                    <ul>
                        <li>Time and Cost Savings</li>
                        <li>Communication Tools</li>
                        <li>Promotion and Marketing</li>
                        <li>Sales Opportunities</li>
                        <li>Networking and Collaboration</li>
                        <li>Accessibility and Mobile Responsiveness</li>
                    </ul><br>
                    <button type="button" class="btn" routerLink="organizerRegistration">Register as Organizer
                        !</button>
                </div>
            </div>
        </div>

        <div class="row no-gutters pt-5">
            <div class="col-md-6">
                <div class="card-body" style="padding-left: 60px;">
                    <h3 class="card-title">Benefits For Artists</h3><br>
                    <p class="card-text">Here are some benefits that organizers may find appealing when registering
                        on
                        our website</p><br>
                    <ul>
                        <li>Exposure and Visibility</li>
                        <li>Portfolio Management</li>
                        <li>Sales Opportunities</li>
                        <li>Networking and Collaboration</li>
                        <li>Event Opportunities</li>
                        <li>Mobile-Friendly Experience</li>
                        <li>Support and Community Building</li>
                    </ul><br>
                    <button type="button" class="btn" routerLink="artistRegistration">Register as Artist
                        !</button><br><br>
                </div>
            </div>
            <div class="col-md-6">
                <img src="./assets/reg-img2.png" class="card-img">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2 col-6">
            <h1>Products</h1>
        </div>
        <div class="col-md-7 col-1">
            <hr class="custom-line">
        </div>
        <div class="col-md-3 col-5">
            <button type="button" class="btn cat-btn" style="float: right;" routerLink="products">View More</button>
        </div>
    </div>
    <div class="row pt-5 pb-5">
        <div class="col-lg-3 col-md-4 col-sm-12 " *ngFor="let product of products">
            <div class="card my-3 pt-2" id="product-card">
                <img src={{product.Pimages}} class="card-img-top" alt="product-image">
                <div id="product-body">
                    <h2 class="">{{product.Pbrand}}</h2>
                    <p class="">{{product.Pmodel | slice:0:70 }}...</p>
                    <span class="mx-2" style="font-size: large; font-weight: 600;">₹ {{product.Pprice}}</span>
                    <button href="#" class="btn mx-2" id="buy-btn">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>