<!-- <nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
           
            <ng-template #initialMenu>
                <ul class="navbar-nav mr-auto" id="toggler">
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/artists" routerLinkActive="active">Artists</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                    </li>
                </ul>
            </ng-template>

           
            <ng-template #loggedInMenu>
                
                <ul class="navbar-nav mr-auto" *ngIf="userType === 'user'" id="toggler">
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/artists" routerLinkActive="active">Artists</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto" *ngIf="userType === 'artist'" id="toggler">
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/artistsHome" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/organizer" routerLinkActive="active">Organizers</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto" *ngIf="userType === 'organizer'" id="toggler">
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/artists" routerLinkActive="active">Artists</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                    </li>
                </ul>
            </ng-template>

           
            <ng-container *ngIf="isUserLoggedIn; else initialMenu">
                <ng-container *ngTemplateOutlet="loggedInMenu"></ng-container>
            </ng-container>
        </div>

        <div class="search-container">
            <input matInput placeholder="Search" class="search-input" [(ngModel)]="searchTerm">
            <button mat-icon-button class="search-icon" (click)="onSearch()">
                <mat-icon><b>search</b></mat-icon>
            </button>
        </div>

        <div class="navbar-nav ml-auto">
            <ng-container *ngIf="!isUserLoggedIn; else loggedInSection">
                <div>
                    <button class="btn btn-outline-light" id="desktop" routerLink="/login">
                        Login Here
                    </button>
                    <button class="btn btn-outline-light" id="mobile" routerLink="/login">
                        <mat-icon>person</mat-icon>
                    </button>
                </div>
            </ng-container>

            <ng-template #loggedInSection>
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-light" id="desktop"
                        *ngIf="userType === 'user' || userType === 'organizer'" (click)="createEvent()">Create
                        Event</button>
                    <button class="btn" *ngIf="userType === 'artist'" id="desktop" (click)="openModal()">Book
                        Yourself</button>
                    <button class="btn btn-outline-light" id="mobile" ngbDropdownToggle>
                        <mat-icon>person</mat-icon>
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem
                                *ngIf="userType === 'user' || userType === 'organizer'" (click)="createEvent()">Create
                                Event</a>
                            <a class="dropdown-item" ngbDropdownItem *ngIf="userType === 'artist'"
                                (click)="openModal()">Book Yourself</a>
                            <a class="dropdown-item" ngbDropdownItem
                                *ngIf="userType === 'user' || userType === 'organizer'"
                                (click)="eventManageForm()">Manage Event</a>
                            <a class="dropdown-item" ngbDropdownItem (click)="openUpdateForm()">Edit Profile</a>
                            <a class="dropdown-item" ngbDropdownItem (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </div>
    </div>
</nav>

<div class="modal" [ngClass]="{'d-block': showEventModal}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h4>You want to subscribe first!</h4><br>
            <div style="display: flex; margin: auto;">
                <button class="btn" id="btn" (click)="goToSubscription()">Subscription
                    Plan</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn" id="btn" (click)="hideModal()">Close</button>
            </div><br>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="selectedDate">Select Date:</label>
                    <input type="date" class="form-control" id="selectedDate" [(ngModel)]="selectedDate">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveDate()">Save</button>
                <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div> -->

<header class="premium-header sticky-top">
  <div class="header-container">
    <div class="logo-section">
      <img
        src="./assets/meeAalogo.png"
        alt="Logo"
        class="logo"
        [routerLink]="userType === 'artist' ? '/artistsHome' : '/'"
        style="cursor: pointer"
      />
    </div>
    <button class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="nav-and-actions" [class.active]="isMenuOpen">
      <nav class="nav-section">
        <ng-container *ngIf="isUserLoggedIn; else initialMenu">
          <ng-container [ngSwitch]="userType">
            <ng-container *ngSwitchCase="'user'">
              <a
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
              <a routerLink="/artists" routerLinkActive="active">Artists</a>
              <a routerLink="/events" routerLinkActive="active">Events</a>
              <a routerLink="/products" routerLinkActive="active">Products</a>
              <a routerLink="/careers" routerLinkActive="active">Careers</a>
            </ng-container>
            <ng-container *ngSwitchCase="'artist'">
              <a
                routerLink="/artistsHome"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
              <a routerLink="/organizer" routerLinkActive="active"
                >Organizers</a
              >
              <a routerLink="/events" routerLinkActive="active">Events</a>
              <a routerLink="/products" routerLinkActive="active">Products</a>
              <a routerLink="/careers" routerLinkActive="active">Careers</a>
            </ng-container>
            <ng-container *ngSwitchCase="'organizer'">
              <a
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
              <a routerLink="/artists" routerLinkActive="active">Artists</a>
              <a routerLink="/events" routerLinkActive="active">Events</a>
              <a routerLink="/products" routerLinkActive="active">Products</a>
              <a routerLink="/careers" routerLinkActive="active">Careers</a>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-template #initialMenu>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
          <a routerLink="/artists" routerLinkActive="active">Artists</a>
          <a routerLink="/events" routerLinkActive="active">Events</a>
          <a routerLink="/products" routerLinkActive="active">Products</a>
          <a routerLink="/careers" routerLinkActive="active">Careers</a>
        </ng-template>
      </nav>
      <div class="action-section">
        <div class="search-container">
          <input type="text" placeholder="Search" [(ngModel)]="searchTerm" />
          <button class="search-btn" (click)="onSearch()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <ng-container *ngIf="!isUserLoggedIn; else loggedInActions">
          <button class="auth-btn" routerLink="/login">Login</button>
        </ng-container>
        <ng-template #loggedInActions>
          <div class="user-actions" ngbDropdown>
            <button
              class="action-btn"
              *ngIf="userType === 'user' || userType === 'organizer'"
              (click)="createEvent()"
            >
              Create Event
            </button>
            <button
              class="action-btn"
              *ngIf="userType === 'artist'"
              (click)="openModal()"
            >
              Book Yourself
            </button>
            <button class="profile-btn" ngbDropdownToggle>
              <mat-icon>person</mat-icon>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <!-- <a
                ngbDropdownItem
                *ngIf="userType === 'user' || userType === 'organizer'"
                (click)="createEvent()"
                >Create Event</a
              > -->
              <a
                ngbDropdownItem
                *ngIf="userType === 'artist'"
                (click)="openModal()"
                >Book Yourself</a
              >
              <a
                ngbDropdownItem
                *ngIf="userType === 'user' || userType === 'organizer'"
                (click)="eventManageForm()"
                >Manage Event</a
              >
              <a ngbDropdownItem (click)="openUpdateForm()">Edit Profile</a>
              <a ngbDropdownItem (click)="logout()">Logout</a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>

<!-- Modal for event subscription -->
<div class="modal" [class.show]="showEventModal">
  <div class="modal-content">
    <h2>Subscribe to Create Events</h2>
    <p>You need to subscribe first to create events!</p>
    <div class="modal-actions">
      <button class="btn primary" (click)="goToSubscription()">
        View Subscription Plans
      </button>
      <button class="btn secondary" (click)="hideModal()">Close</button>
    </div>
  </div>
</div>

<!-- Modal for date selection -->
<div class="modal" [class.show]="showModal">
  <div class="modal-content">
    <h2>Select Date</h2>
    <div class="form-group">
      <label for="selectedDate">Choose a date:</label>
      <input type="date" id="selectedDate" [(ngModel)]="selectedDate" />
    </div>
    <div class="modal-actions">
      <button class="btn primary" (click)="saveDate()">Save</button>
      <button class="btn secondary" (click)="closeModal()">Close</button>
    </div>
  </div>
</div>
