<nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
            <!-- Initial set of menu items -->
            <ng-template #initialMenu>
                <ul class="navbar-nav mr-auto" id="toggler">
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/artists" routerLinkActive="active">Artists</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                    </li>
                </ul>
            </ng-template>

            <!-- Menu items after login -->
            <ng-template #loggedInMenu>
                <!-- Adjust these menu items based on the user's type -->
                <ul class="navbar-nav mr-auto" *ngIf="userType === 'user'" id="toggler">
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/artists" routerLinkActive="active">Artists</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto" *ngIf="userType === 'artist'" id="toggler">
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/artistsHome" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/organizer" routerLinkActive="active">Organizers</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto" *ngIf="userType === 'organizer'" id="toggler">
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/artists" routerLinkActive="active">Artists</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                    </li>
                    <li class="nav-item" (click)="isNavbarCollapsed = true">
                        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
                    </li>
                </ul>
            </ng-template>

            <!-- Display the appropriate set of menu items based on login status -->
            <ng-container *ngIf="isUserLoggedIn; else initialMenu">
                <ng-container *ngTemplateOutlet="loggedInMenu"></ng-container>
            </ng-container>
        </div>

        <div class="search-container">
            <input matInput placeholder="Search" class="search-input" [(ngModel)]="searchTerm">
            <button mat-icon-button class="search-icon" (click)="onSearch()">
                <mat-icon><b>search</b></mat-icon>
            </button>
        </div>

        <div class="navbar-nav ml-auto">
            <ng-container *ngIf="!isUserLoggedIn; else loggedInSection">
                <div>
                    <button class="btn btn-outline-light" id="desktop" routerLink="/login">
                        Login Here
                    </button>
                    <button class="btn btn-outline-light" id="mobile" routerLink="/login">
                        <mat-icon>person</mat-icon>
                    </button>
                </div>
            </ng-container>

            <ng-template #loggedInSection>
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-light" id="desktop"
                        *ngIf="userType === 'user' || userType === 'organizer'" routerLink="/eventRegistration">Create
                        Event</button>
                    <button class="btn" *ngIf="userType === 'artist'" id="desktop" (click)="openModal()">Book
                        Yourself</button>
                    <button class="btn btn-outline-light" id="mobile" ngbDropdownToggle>
                        <mat-icon>person</mat-icon>
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem
                                *ngIf="userType === 'user' || userType === 'organizer'"
                                routerLink="/eventRegistration">Create Event</a>
                            <a class="dropdown-item" ngbDropdownItem *ngIf="userType === 'artist'"
                                (click)="openModal()">Book Yourself</a>
                            <a class="dropdown-item" ngbDropdownItem
                                *ngIf="userType === 'user' || userType === 'organizer'"
                                (click)="eventManageForm()">Manage Event</a>
                            <a class="dropdown-item" ngbDropdownItem (click)="openUpdateForm()">Edit Profile</a>
                            <a class="dropdown-item" ngbDropdownItem (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </div>
    </div>
</nav>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="selectedDate">Select Date:</label>
                    <input type="date" class="form-control" id="selectedDate" [(ngModel)]="selectedDate">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveDate()">Save</button>
                <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>