<app-carousel></app-carousel>

<div class="container text-center pt-5 pb-5">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 " *ngFor="let event of eventdata">
      <div class="card business-card shadow my-3">
        <img [src]="url + 'getEventPoster/' + event.eid" class="card-img-top" alt="Event">
        <div class="card-body">
          <h2 class="card-title">{{event.obusinessname}} has planned event {{event.ename}}</h2>
          <p class="card-text" style="font-size: medium; font-weight: 400;">{{event.edate}} | at {{event.etime}}</p>
          <span class="mx-2" style="font-size: large; font-weight: 600;">{{event.elocation}}</span>
          <div class="buttons my-2">
            <br><a
              href="https://api.whatsapp.com/send?phone=917517311326&text=Hello, I am interested to attend event of {{event.ename}} organized by {{event.obusinessname}}."
              target="_blank" class="btn mx-2" id="buy-btn">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>