.custom-line {
    /* border: none; */
    height: 2px;
    opacity: 1;
    background: black;
    margin-left: 35px;
    /* You can change the color to your preference */
    /* margin: 20px 0; */
    /* Adjust the margin as needed */
}

h1 {
    color: #1E1E1E;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: #1E1E1E;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
}

.card {
    /* padding: 60px 0 50px 0; */
    /* border-radius: 20px;
    background: rgba(203, 228, 242, 0.48); */
    cursor: pointer;
}

/* .card-data img {
    height: 100%;
    width: 100%;
    padding: 5px;
} */

h4 {
    color: #1E1E1E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 15px;
}

.btn {
    border-radius: 10px;
    background: #F0E945;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #1E1E1E;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 30px 10px 30px;
}

.profile-icons {
    padding-right: 20px;
}

.social-links a {
    padding: 8px;
    height: 40px;
    width: 40px;
}

.container {
    padding-top: 100px;
}

.artist-info {
    margin-left: 150px;
}


#product-card {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    height: 500px;
    background: none;
}

#product-card h2 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#product-card p {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
    height: 60px;
}

#buy-btn {
    border-radius: 10px;
    background: #F0E945;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #1E1E1E;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#product-body {
    padding: 5px;
    text-align: center;
}

@media (max-width: 767px) {
    #product-card {
        height: 580px;
    }

    #product-card p {
        height: none;
    }
    .profile-icons {
        padding-right: 0;
    }
    .artist-info {
        margin-left: 0px;
    }
}
@media (max-width: 1025px) {
    .artist-info {
        margin-left: 0px;
    }
    .btn {
        padding: 10px;
    }
}