<section class="subscription-section">
  <div class="container">
    <header class="text-center mb-5">
      <h1 class="main-title">Organizer Subscription Plans</h1>
      <p class="subtitle">Choose the perfect plan to manage your events</p>
    </header>

    <div class="row justify-content-center">
      <div
        *ngFor="let subscription of organizerSubscriptions"
        class="col-lg-4 col-md-6 mb-4"
      >
        <div
          class="pricing-card"
          [ngClass]="{ popular: subscription.sname === 'Premium' }"
        >
          <div class="pricing-header">
            <h2 class="plan-name">{{ subscription.sname }}</h2>
            <div class="price">
              <!-- <span class="currency">₹</span> -->
              <span class="amount">₹ {{ subscription.sprice }}</span>
            </div>
          </div>
          <div class="pricing-body">
            <ul class="features">
              <li *ngFor="let benefit of subscription.sbenefits.split(',')">
                <i class="fas fa-check"></i>
                {{ benefit.trim() }}
              </li>
            </ul>
            <ul class="features muted" *ngIf="subscription.sbenefitsmuted">
              <li
                *ngFor="
                  let mutedBenefit of subscription.sbenefitsmuted.split(',')
                "
              >
                <i class="fas fa-times"></i>
                {{ mutedBenefit.trim() }}
              </li>
            </ul>
          </div>
          <div class="pricing-footer">
            <ng-template #initialButton>
              <a
                class="btn-subscribe"
                routerLinkActive="active"
                routerLink="/login"
              >
                Subscribe
              </a>
            </ng-template>
            <ng-template #loggedIn>
              <ng-container
                *ngIf="userType === 'organizer' || userType === 'user'"
              >
                <button
                  class="btn-subscribe"
                  (click)="handleSubscription(subscription)"
                  [disabled]="isLoading"
                >
                  <span *ngIf="!isLoading">Subscribe</span>
                  <span
                    *ngIf="isLoading"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </button>
              </ng-container>
            </ng-template>
            <ng-container *ngIf="isUserLoggedIn; else initialButton">
              <ng-container *ngTemplateOutlet="loggedIn"></ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
