<div class="text-center" *ngIf="searchArtists.length === 0">
    <p class="pt-5">No results found for '{{ searchTerm }}'</p>
</div>

<div class="container text-center pt-5 pb-5">
    <div *ngIf="searchArtists.length > 0">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 " *ngFor="let user of searchArtists">
                <div class="card business-card shadow my-3">
                    <img [src]="url + 'getProfilePhoto/' + user.uid" class="card-img-top" alt="Event">
                    <div class="card-body">
                        <h2 class="card-title">{{ user.uname }}</h2>
                        <p>{{ user.acategory }}</p>
                        <p>{{ user.uaddress }}, <b>{{user.ucity}}</b></p>
                        <div class="buttons my-2">
                            <br><a (click)="viewArtist(user.uid)" class="btn mx-2">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 " *ngFor="let product of searchProducts">
                <div class="card business-card shadow my-3">
                    <img [src]="url + 'getProductPhoto/' + product.pid" class="card-img-top" alt="product-image">
                    <div class="card-body">
                        <h2 class="card-title">{{product.pbrand}}</h2>
                        <p>{{product.pmodel | slice:0:70 }}...</p>
                        <span class="mx-2" style="font-size: large; font-weight: 600;">₹ {{product.pprice}}</span>
                        <div class="buttons my-2">
                            <a routerLink="/products" class="btn mx-2">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 " *ngFor="let event of searchEvents">
                <div class="card business-card shadow my-3">
                    <img [src]="url + 'getEventPoster/' + event.eid" class="card-img-top" alt="Event">
                    <div class="card-body">
                        <h2 class="card-title">{{event.obusinessname}} has planned event {{event.ename}}</h2>
                        <p style="font-size: medium; font-weight: 400;">{{event.edate}} | at
                            {{event.etime}}</p>
                        <span class="mx-2" style="font-size: large; font-weight: 600;">{{event.elocation}}</span>
                        <div class="buttons my-2">
                            <br><a routerLink="/events" class="btn mx-2">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>