<div class="container my-5">
    
    <form class="form-table">
        <h1 class="mt-2">Create an Event</h1>
        <hr>
        <table>
            <tr>
                <td style="width: 200px;"><label for="firstName">Event Name:</label></td>
                <td colspan="2"><input type="text" id="firstName" name="firstName" placeholder="Enter your event name"></td>
            </tr>
            <tr>
                <td><label for="firstName">Event Location:</label></td>
                <td colspan="2"><input type="text" id="firstName" name="firstName" placeholder="Google map link"></td>
            </tr>

            <!-- date & time -->
            <tr>
                <td><label for="firstName">Event Date:</label></td>
                <td><input type="date" class="date-input" id="firstName" name="firstName"></td>
                <td><label for="firstName">Event Time:</label></td>
                <td><input type="time" class="date-input" id="firstName" name="firstName"></td>
            </tr>

            <!-- Artist check box -->
            <tr>
                <td><label>Select Artist:</label></td>
                <!-- column 1 -->
                <td class="checkbox-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option1" name="options[]" value="option1">
                        <label class="form-check-label" for="option1">Singer</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option2" name="options[]" value="option2">
                        <label class="form-check-label" for="option2">Drummer</label>
                    </div>
                </td>
                <!-- column 2 -->
                <td class="checkbox-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option1" name="options[]" value="option1">
                        <label class="form-check-label" for="option1">Guitarist</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option2" name="options[]" value="option2">
                        <label class="form-check-label" for="option2">Anchor</label>
                    </div>
                </td>
            </tr>

            <!-- Facility for artist -->
            <tr>
                <td><label>Facility for Artist:</label></td>
                <!-- column 1 -->
                <td class="checkbox-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option1" name="options[]" value="option1">
                        <label class="form-check-label" for="option1">Meal</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option2" name="options[]" value="option2">
                        <label class="form-check-label" for="option2">Travel allowance</label>
                    </div>
                    <!-- Add more checkboxes as needed -->
                </td>
                <!-- column 2 -->
                <td class="checkbox-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option1" name="options[]" value="option1">
                        <label class="form-check-label" for="option1">Music System</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option2" name="options[]" value="option2">
                        <label class="form-check-label" for="option2">Stay</label>
                    </div>
                    <!-- Add more checkboxes as needed -->
                </td>
            </tr>

            <!-- Artist Should equip with -->
            <tr>
                <td><label>Artist Should equip with:</label></td>
                <!-- column 1 -->
                <td class="checkbox-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option1" name="options[]" value="option1">
                        <label class="form-check-label" for="option1">Sound System</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option2" name="options[]" value="option2">
                        <label class="form-check-label" for="option2">Own Instruments</label>
                    </div>
                    <!-- Add more checkboxes as needed -->
                </td>
                <!-- column 2 -->
                <td class="checkbox-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option1" name="options[]" value="option1">
                        <label class="form-check-label" for="option1">Music System</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option2" name="options[]" value="option2">
                        <label class="form-check-label" for="option2">Stay</label>
                    </div>
                    <!-- Add more checkboxes as needed -->
                </td>
            </tr>

            <!-- upload profile photo and images -->
            <tr>
                <td><label for="lastName">Upload Event Poster:</label></td>
                <td><input type="file" class="form-control up_img" id="imageUpload" name="imageUpload"></td>
            </tr>


        </table>
        <div class="text-center">
            <button type="submit" class="btn btn_submit">Create Event</button>
        </div>
    </form>
</div>