<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>--- Looking for this also ---</h1>
        </div>
    </div>
    <div class="row pt-5" routerLink="/organizer">
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-data">
                    <img src="./assets/looking-for/studio.png" class="card-img-top" alt="Image Alt Text">
                    <h4>Recording Studio</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-data">
                    <img src="./assets/looking-for/hall.png" class="card-img-top" alt="Image Alt Text">
                    <h4 class="text-center">Banquet Hall</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-data">
                    <img src="./assets/looking-for/lawns.png" class="card-img-top" alt="Image Alt Text">
                    <h4 class="text-center">Lawns</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-data">
                    <img src="./assets/looking-for/event.png" class="card-img-top" alt="Image Alt Text">
                    <h4>Event Management</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-data">
                    <img src="./assets/looking-for/caterers.png" class="card-img-top" alt="Image Alt Text">
                    <h4>Caterers</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-data">
                    <img src="./assets/looking-for/dress.png" class="card-img-top" alt="Image Alt Text">
                    <h4>Customized Dress</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-data">
                    <img src="./assets/looking-for/restaurants.png" class="card-img-top" alt="Image Alt Text">
                    <h4>Restaurants</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-data">
                    <img src="./assets/looking-for/resto-bar.png" class="card-img-top" alt="Image Alt Text">
                    <h4>Bar + Restaurants</h4>
                </div>
            </div>
        </div>
    </div>
</div>