<div class="container my-5">
    <form class="form-table" [formGroup]="updateEventForm" disabled>
        <h1 class="mt-2">Manage Event</h1>
        <hr />
        <table>
            <tr>
                <td style="width: 200px"><label for="eventName">Event Name:</label></td>
                <td colspan="2">
                    <input type="text" id="eventName" formControlName="eventName" placeholder="Enter your event name"
                        readonly />
                </td>
            </tr>
            <tr>
                <td><label for="eventlocation">Event Location:</label></td>
                <td colspan="2">
                    <input type="text" id="eventlocation" formControlName="eventlocation" name="eventlocation"
                        placeholder="Google map link" readonly />
                </td>
            </tr>
            <tr>
                <td><label for="googlemaplocation">Google Map Location:</label></td>
                <td colspan="2">
                    <input type="text" id="googlemaplocation" formControlName="googlemaplocation"
                        name="googlemaplocation" placeholder="Google map link" />

                </td>
            </tr>

            <!-- date & time -->
            <tr>
                <td><label for="eventDate">Event Date:</label></td>
                <td>
                    <input type="date" class="date-input" id="eventDate" formControlName="eventDate" name="eventDate"
                        readonly />
                </td>
                <td><label for="eventTime">Event Time:</label></td>
                <td>
                    <input type="time" class="date-input" id="eventTime" formControlName="eventTime" name="eventTime"
                        readonly />
                </td>
            </tr>

            <!-- Artist check box -->
            <tr>
                <td><label>Required Artist:</label></td>
                <!-- column 1 -->
                <td colspan="2">
                    <input type="text" id="requiredArtist" name="requiredArtist" formControlName="requiredArtist"
                        placeholder="Singer, Guitarist, Drummer, Anchor, etc." readonly />
                </td>
            </tr>

            <!-- Facility for artist -->
            <tr>
                <!-- column 1 -->
                <td><label for="o_facility">Facility For Artist:</label></td>
                <td colspan="2">
                    <input type="text" id="facilityForArtist" name="facilityForArtist"
                        formControlName="facilityForArtist"
                        placeholder="Travel Allowance,Music System, Meal, Stay, etc." readonly />
                </td>
            </tr>

            <!-- Artist Should equip with -->
            <tr>
                <td><label>Artist Should equip with:</label></td>
                <!-- column 1 -->
                <td colspan="2">
                    <input type="text" id="artistEquip" name="artistEquip" formControlName="artistEquip"
                        placeholder="Sound System, Own Instruments, Music System, Stay, etc." readonly />
                </td>
            </tr>
            <!-- upload profile photo and images -->
            <tr>
                <td><label for="imageUpload">Upload Event Poster:</label></td>
                <td>
                    <input type="file" class="form-control up_img" id="imageUpload" (change)="onImageSelected($event)"
                        name="imageUpload" accept="image/*" />

                </td>
            </tr>

            <!-- Check box for complete form -->
            <tr>
                <td class="checkbox-group" colspan="3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="option1" name="option1"
                            formControlName="option1" />
                        <label class="form-check-label fw-bold" for="option1">Yes, I found artist</label>
                    </div>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <button type="submit" class="btn btn_submit" (click)="updateEventdata()">
                Schedule Event
            </button>
        </div>
    </form>
</div>